.container.brand-div.mb-5.p-5
    .row
        .col
            h1.welcome Welcome to Medium, where words matter
            p.welcome We’ll deliver the best stories and ideas on the topics you care about most straight to your homepage, app, or inbox.
            button.btn.btn-dark.get-started(type='button') Get started
            button.btn.btn-outline-dark.learn-more.ml-2(type='button') Learn more
        .col.box-heads