.container.forground-div
    .row
        h1.col-10 Featured for members
        .col-1 More
        p.col-1 &gt;
    .row
        .col 
            .container
                .row
                    .col.article-column
                        h1.article-title How to Achieve Your Ambitions in the New Year
                        p.summary Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        p.article-author Lorem ipsum
                        p.time an hour ago . 14 min read *
                    .col.bookmark
                    .col.article-photo-sm
                .row
                    .col.article-column
                        h1.article-title How to Achieve Your Ambitions in the New Year
                        p.summary Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        p.article-author Lorem ipsum
                        p.time an hour ago . 14 min read *
                    .col.bookmark
                    .col.article-photo-sm
                .row
                    .col.article-column
                        h1.article-title How to Achieve Your Ambitions in the New Year
                        p.summary Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        p.article-author Lorem ipsum
                        p.time an hour ago . 14 min read *
                    .col.bookmark
                    .col.article-photo-sm
                .row
                    .col.article-column
                        h1.article-title How to Achieve Your Ambitions in the New Year
                        p.summary Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        p.article-author Lorem ipsum
                        p.time an hour ago . 14 min read *
                    .col.bookmark
                    .col.article-photo-sm
                    //- .col
                    //-     button.btn.btn-default(type='button', aria-label='Left Align')
                    //-         span.glyphicon.glyphicon-bookmark(aria-hidden='true')
        .col.side-panel
            .container.popular-aside
                .row
                    .col-12
                        h1 Popular on Medium
                        .container
                            .row
                                .col-1
                                    h1.side-panel-nums 01
                                .col-11
                                    h4.article-title-h4.h4-pop-fground Apple's Precarious and Pivotal 2019
                                    p.summary Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    p.article-author Lorem ipsum
                                    p.time an hour ago . 14 min read *
                                .col-1
                                    h1.side-panel-nums 02
                                .col-11
                                    h4.article-title-h.h4-pop-fground Apple's Precarious and Pivotal 2019
                                    p.summary Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    p.article-author Lorem ipsum
                                    p.time an hour ago . 14 min read *
                                .col-1
                                    h1.side-panel-nums 03
                                .col-11
                                    h4.article-title-h4.h4-pop-fground Apple's Precarious and Pivotal 2019
                                    p.summary Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    p.article-author Lorem ipsum
                                    p.time an hour ago . 14 min read *
                                .col-1
                                    h1.side-panel-nums 04
                                .col-11
                                    h4.article-title-h4.h4-pop-fground Apple's Precarious and Pivotal 2019
                                    p.summary Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    p.article-author Lorem ipsum
                                    p.time an hour ago . 14 min read *

