.container.mt-2
    .row.main-box
        .left-column.col.row
            img.col.head-img(src='../img/Sloth-1000-600.png', alt="placeholder")
            h1.article-title Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            p.text-div Lorem, ipsum dolor sit amet consectetur.
            p.a-few-hours a few hours ago
        .middle-column.col 
            .row
                img.col.middle-img-1(src='../img/sloth-100-100.png')
                h1.col.article-title Quibusdam perspiciatis suscipit accusamus.
                    .p-text Lorem, ipsum dolor sit amet consectetur.
                    .p-text a few hours ago
            .row
                img.col.middle-img-1(src='../img/sloth-100-100.png')
                h1.col.article-title Quibusdam perspiciatis suscipit accusamus.
                    .p-text Lorem, ipsum dolor sit amet consectetur.
                    .p-text a few hours ago
            .row
                img.col.middle-img-1(src='../img/sloth-100-100.png')
                h1.col.article-title Qisi dolore cupiditate fugit sequi.
                    .p-text Lorem, ipsum dolor sit amet consectetur.
                    .p-text a few hours ago
        .right-column.col
            img.col.head-img(src='../img/Sloth-1000-600.png', alt="placeholder")
            h1.article-title Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            p.text-div Lorem, ipsum dolor sit amet consectetur.
            p.a-few-hours a few hours ago
.container
    .row
        .col-11
        button.btn.btn-link.button-color-green.col-1(type='button') Sign In &gt;
.container.stream-div.mt-5.mb-5
