.container.top-logo-bar
    .row
        .logo-div.col-6
            img.medium-logo(src="../img/medium-logos-master/wordmark/Wordmark_Black.png", alt="Medium-Logo")
        .button-div.col-6
            img.magnifer(src='../img/magnifier.png', alt="Magnifier Icon")
            button.btn.btn-link.button-color-grey(type='button') Become a member
            button.btn.btn-link.button-color-green(type='button') See all featured 
            button.btn.btn-outline-success(type='button') Get Started

