.brand-div {
    background-color: #e8f3ec;
}

.box-heads {
    background-image: url('../img/medium-box-heads.png');
    background-position: bottom right;
    background-repeat: no-repeat!important;
    background-size: contain!important;
    width: 50%!important;
}