h1 h2 p a {
    font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif!important
}
.article-title {
    font-size: 20px;
    font-weight: none;    
}

.p-text {
    font-size: 15px;
}