<!DOCTYPE html>
html(lang="en")
  head
    link(rel="stylesheet", href="../sass/main.scss")
    script(src="../js/main.js")
  body
    include ./partials/topLogoBar.pug
    include ./partials/navbar.pug
    include ./partials/StreamDiv.pug
    include ./partials/brandDiv.pug
    include ./partials/forgroundDiv.pug

    h1 Welcome to parcel!
