<!DOCTYPE html>
html(lang="en")
  head
    link(rel="stylesheet", href="../sass/main.scss")
    script(src="../js/main.js")
  body
    .container-fluid.top-logo-bar
        .row
            .logo-div.col-8
                img.medium-logo(src="../img/medium-logos-master/wordmark/Wordmark_Black.png", alt="Medium-Logo")
            .button-div.col-4
                img.magnifer(src='../img/magnifier.png', alt="Magnifier Icon")
                button.btn.btn-link(type='button') Become a member
                button.btn.btn-link(type='button') Sign In
                button.btn.btn-outline-success(type='button') Get Started

    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='#') Navbar
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item.active
            a.nav-link(href='#')
              | Home 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#') Love/Hate
          li.nav-item
            a.nav-link(href='#') Culture
          li.nav-item
            a.nav-link(href='#') Tech
          li.nav-item
            a.nav-link(href='#') Startups
          li.nav-item
            a.nav-link(href='#') Self
          li.nav-item
            a.nav-link(href='#') Politics
          li.nav-item
            a.nav-link(href='#') Design
          li.nav-item
            a.nav-link(href='#') Health
          li.nav-item
            a.nav-link(href='#') Popular
          li.nav-item
            a.nav-link(href='#') Collections
          li.nav-item
            a.nav-link(href='#') More
          li.nav-item
            a.nav-link.disabled(href='#', tabindex='-1', aria-disabled='true') Disabled


    

    h1 Welcome to parcel!
